@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#navbar{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: .5rem 5rem;
  box-shadow: 5px 5px 20px bisque;
  background:lemonchiffon;
}

.navbar .navbar-brand{
  font-size: 25px;
  font-weight: 800;
  color:brown !important;
}

#navbarSupportedContent a{
  color:black;
  border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover{
  border-bottom: 2px solid brown;
}

#navbarSupportedContent button{
  background: brown;
  width: 5rem;
  border-radius: 15px;
}

section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***HOME***/

#home{
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url("bg_image.jpg");
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

#home h2{
  font-size: 100px;
  color: bisque;
  letter-spacing: 3px;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0px 1px 0px bisque,
               0px 2px 0px bisque,
               0px 3px 0px bisque,
               0px 4px 0px bisque,
               0px 5px 0px bisque,
               0px 6px 0px bisque,
               0px 7px 0px bisque;
}

#home p{
  font-size: 18px;
  color: beige;
}

#home .input-group{
  width: 40%;
  height: 45px;
}

.signin{
  background: burlywood !important;
  color: azure !important;
  box-shadow: 2px 4px 5px rgba(0,0,0,.3);
}

/***ABOUT***/

#about{
  background: linear-gradient(to right,#deb887, #deb887 100%);
}

#about img{
  padding: 100px;
  align-items: center;
}

#about h1{
  font-weight: 800;
  font-size: 50px;
  color: brown;
}

#about p{
  color:black;
}

/***products***/

#products{
  background:#deb887;
}

#products .add-to-cart {
  background-color: brown !important;
  color: white !important;
}

#products .add-to-cart:hover {
  background-color: darkred !important;
}


#products h1{
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
}

#products img{
  width: 250px;
  height: 200px;
}

.card{
  width: 300px;
  height: 300px;
  background: #e5e5e5 !important;
  border: none !important;
  box-shadow: 15px 20px 20px black,
              inset 4px 4px 10px white;
  border-radius: 20px !important;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 20px 60px;
  transition: .2s;
}

.card:hover{
  box-shadow: inset 5px 5px 10px brown,
              inset -4px -4px 10px white;
  transition: .2s;
}

/****Contact****/

#contact img{
  height: 100%;
}

#Contact {
  background-color:#deb887;
}

.box{
  width: 80% !important;
  margin-top: 10px;
}

form{
  display: flex;
  flex-direction: column;
}

#contact input{
  margin: 10px 0px;
}

#getStartedBtn {
  background-color: darkgreen !important;
  color: white !important;
}

#getStartedBtn:hover {
  background-color: green !important;
}



#contact textarea{
  margin: 10px 0px;
}

footer{
  width: 100%;
  height: 30px;
  background: rgba(0,0,0,.8);
  margin-top: -30px;
  text-align: center;
  color: aliceblue;
  padding: 3px;
}